/* main color black #212121; */
/* secondary blacki-greyish  #757575; */
/* backgroud white #FFFFFF */
/* background black (sec 2 , footer) #2F303A */
/* background pinkish + selector-buttons bg #F5F4FA */
/* hover + logo : #2196F3; */
/* footer address rgba(255, 255, 255, 0.6) */


:root {
	--primary-text: #212121;
	--secondary-text: #757575;
	--background-main: #FFFFFF;
	--background-secondary: #2F303A;
	--background-three: #F5F4FA;
	--company-color: #2196F3;
	--footer-address: rgba(255, 255, 255, 0.6);
}

body {
	font-family: 'Roboto', 'Times New Roman' , sans-serif;
	font-weight: 400;
	background-color: var(--background-main);
	color: var(--primary-text);
}

/* remove dots only from existing lists */
.list {
	list-style: none;
}
/* remove underline from all links */
a {
	text-decoration: none;
}
/* logo */
.logo {
	font-family: 'Raleway', sans-serif;
	color: inherit;
}
.logo-web {
	color: var(--company-color);
}
.footer {
	color: var(--background-main);
}
/* header */
.links .link {
	color: var(--primary-text);
	font-weight: 500;
}
.address-one .link {
	color: var(--secondary-text);
}

.link:hover , .link:focus{
	color: var(--company-color);
}


