/* main color black #212121; */
/* secondary blacki-greyish  #757575; */
/* backgroud white #FFFFFF */
/* background black (sec 2 , footer) #2F303A */
/* background pinkish + selector-buttons bg #F5F4FA */
/* hover + logo : #2196F3; */
/* footer address rgba(255, 255, 255, 0.6) */


:root {
	--primary-text: #212121;
	--secondary-text: #757575;
	--background-main: #FFFFFF;
	--background-secondary: #2F303A;
	--background-three: #F5F4FA;
	--company-color: #2196F3;
	--footer-address: rgba(255, 255, 255, 0.6);
}

body {
	font-family: 'Roboto', 'Times New Roman' , sans-serif;
	font-weight: 400;
	background-color: var(--background-main);
	color: var(--primary-text);
}

/* remove dots only from existing lists */
.list {
	list-style: none;
}
/* remove underline from all links */
a {
	text-decoration: none;
}

/* links to change color when hover and focus*/
.body .link:hover,
.body .link:focus {
	color: var(--company-color);
}
/* logo */
.logo {
	font-family: 'Raleway', sans-serif;
	color: inherit;
	font-weight: 700;
	/* line-height is 31px in figma, when i get 30.94px, should i round it up to 1.2 or include more numbers after dort? */
	line-height: 1.19;
	font-size: 26px;
	letter-spacing: 0.03em;
}
.logo-web {
	color: var(--company-color);
}
.footer > .logo {
	color: var(--background-main);
}
/* header (can use tag for header , but better with class) */
.header .link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-size: 14px;
}
.navigation .link {
	color: var(--primary-text);
}
.address-top .link {
	color: var(--secondary-text);
}

/* footer */
.footer .list {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	
}
.footer .link {
	color: var(--footer-address);
}
.link.print-address {
	color: var(--background-main);
}
.footer {
	background-color: var(--background-secondary);
}




